.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.cardStyle {
  font-size: 14px;
  width: 150px;
  padding: 10px;
  margin: 10px;
  color: #333;
}

.title {
  margin: 3px;
}